<div data-role="view" data-title="Фирма" data-layout="main-nonav" data-model="app.companyCodeView" data-show="app.companyCodeView.onShow" data-after-show="app.companyCodeView.afterShow" id="companyCodeViewScreen" class="screen">
    <div id="companyCodeViewModel" class="form-view screen__content screen__content--form add-item-view">
        <form>
            <ul class="form-content" data-role="listview" data-style="inset">
                <li class="form-content-item">


                    <label id="companyCodeField" class="field field--text">
                        <span class="field__label">Уникален код </br> на фирмата</span>


                        <input id="companyCode" data-bind="value: addFormData.companyCode" type="text">

                    </label>
                </li>
            </ul>

            <div class="button-group">
                <a data-role="button" data-bind="events: { click: companyCodeViewModel.cancel }">Откажи</a>
                <a class="primary" data-role="button" data-bind="events: { click: companyCodeViewModel.submit }">Запази</a>
            </div>
            <span class="status" data-bind="text: companyCodeViewModel.errorMessage"></span>
        </form>
        <!-- START_CUSTOM_CODE_companyCodeViewModel -->
        <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->

        <!-- END_CUSTOM_CODE_companyCodeViewModel -->
    </div>

    <!-- START_CUSTOM_CODE_companyCodeView -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->

    <!-- END_CUSTOM_CODE_companyCodeView -->
</div>