<div data-role="view" data-title="View" data-layout="main" data-model="app.currentRequestView" data-show="app.currentRequestView.onShow" data-after-show="app.currentRequestView.afterShow" id="currentRequestViewScreen" class="screen">
    
    <div id="CurrentRequestViewScreen" style="padding: 0 2%">
<div style="text-align: center;">
   <h2 id="start-address-text" style="font-size: 6vw;">Ул. Захари Стоянов 39 а</h2>
     <h2 id="finish-address-text" style="font-size: 6vw;">Ул. Захари Стоянов 39 а</h2>
</div>

<div class="choice-bar" style="backgroung-color: #f7aa1b; width: 96%"> 
           <div class="small-choice-btn" id="onAddressBtn" onclick="onAddress()">НА АДРЕСА</div>
            <div class="small-choice-btn" onclick="answer(false)">КАРТА<br></div>
            <div class="small-choice-btn" onclick="finishRequest()">ПРИКЛЮЧВАНЕ НА ЗАЯВКА<br></div>
            </div>
</div>
    </div>
    <!-- START_CUSTOM_CODE_currentRequestView -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->

    <!-- END_CUSTOM_CODE_currentRequestView -->
</div>