<div data-role="view" data-title="View" data-layout="main" data-model="app.requestsView" data-show="app.requestsView.onShow" data-after-show="app.requestsView.afterShow" id="requestsViewScreen" class="screen">
<div id="RequestViewScreen">
<div style="text-align: center;">
   <h2 id="start-address" style="font-size: 6vw;">Ул. Захари Стоянов 39 а</h2>
     <h2 id="finish-address" style="font-size: 6vw;">Ул. Захари Стоянов 39 а</h2>
    <h4 id="moreInfo" style="font-size: 3.5vw;">Разстояние: 547м. Време: 2 мин.</h4>
</div>

<div class="choice-bar"> 
    <h3 style="margin-left: 20px;font-style: italic; font-size: 3vw">Желаете ли да приемете заявката?</h3>
    <div class="choice-btn choice-yes" onclick="answer(true)">ДА</div>
     <div class="choice-btn choice-no" onclick="answer(false)">НЕ (15)</div>
</div>
</div>

    <!-- START_CUSTOM_CODE_requestsView -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->

    <!-- END_CUSTOM_CODE_requestsView -->
</div>