<div data-role="view" data-title="View" data-layout="main" data-model="app.mainView" data-show="app.mainView.onShow" data-after-show="app.mainView.afterShow" id="mainViewScreen" class="screen">
   
<div class="container">
    <div class="row">
        <div class="col-xs-6 col-md-6"><div class = "nav-button" id="absentFreeBtn" onclick="absentFree()">ОТСЪСТВАМ</div>
            </div>
            <div class="col-xs-6 col-md-6"><div class = "nav-button" onclick="goToMap()">КАРТА</div>
            </div>
            </div>
            <div class="row">
            <div class="col-xs-6 col-md-6"><div class = "nav-button">МОЯТ ПРОФИЛ</div>
            </div>
            <div class="col-xs-6 col-md-6 "><div class = "nav-button" onclick="logout()">ИЗХОД</div>
            </div>
            </div>
     </div>   


    <!-- START_CUSTOM_CODE_mainView -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->

    <!-- END_CUSTOM_CODE_mainView -->
</div>