<div data-role="view" data-title="Основен панел" data-layout="main" data-model="app.mainView" data-show="app.mainView.onShow" data-after-show="app.mainView.afterShow" id="mainViewScreen" class="screen">

    <div style="width: 220px; margin: 50px auto;"> 
        <button id="callTBtn" type="button" onclick="searchForRequests()" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Изпращане"
         style="width:100%; height: 220px; border-radius:50%; font-size: 25px; background-color:#a5a5a5; color:white;" data-role="button" 
          class="btn btn-warning btn-lg" >Търси<br>заявки</button>  
    </div>

    <!-- START_CUSTOM_CODE_mainView -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->

    <!-- END_CUSTOM_CODE_mainView -->
</div>